.card{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: var(--double-space);
    border-radius: var(--space);
    border: var(--border-grey);
    row-gap: var(--space);
    width: 100%;
    max-width: 326px;
}

.title, .description, .since, .descriptionExpanded{
    margin: 0;
}

.title{
    font-size: 1.25rem;
}

.description{
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.description, .descriptionExpanded{
    font-size: 1rem;
    word-break: break-word;
    display: -webkit-box;
}

.since{
    font-size: .875rem;
    color: var(--dark-grey);
}

.alert{
    border-radius: var(--space);
    border: var(--border) var(--yellow);
    padding: var(--space);
    background-color: var(--yellow-opacity-44);
    cursor: pointer;
    font-size: 1rem;
    color: var(--black);
    font-weight: 600;
}
