.card{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: var(--max-width-page);
    row-gap: var(--fourth-space);
}

.head{
    display: flex;
    justify-content: space-between;
    width: inherit;
    align-items: center;
    column-gap: var(--double-space);
}

.title{
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: var(--double-space);
}

@media(max-width: 1200px){
    .grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 760px){
    .grid{
        grid-template-columns: repeat(1, 1fr);
    }
}
