.card{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: var(--max-width-page);
    row-gap: var(--fourth-space);
}

.head{
    display: flex;
    justify-content: space-between;
    width: inherit;
    align-items: center;
    column-gap: var(--double-space);
}

.title{
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
}
