.card{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: var(--border-grey);
    width: 100%;
    border-radius: var(--space);
    padding: var(--double-space);
    row-gap: var(--double-space);
    box-shadow: 2px 2px 4px 2px var(--lighter-grey);
}

.card button{
    font-size: .9rem;
    max-height: 36px;
    width: 100%;
    padding-right: var(--space);
    padding-left: var(--space);
}

.title{
    font-size: 1rem;
    font-weight: 400;
}
