:root{
  --space: 5px;
  --double-space: calc(var(--space) * 2);
  --fourth-space: calc(var(--double-space) * 2);
  --yellow: #f1f10d;
  --yellow-rgb: 241, 241, 13;
  --yellow-opacity-44: rgba(var(--yellow-rgb), .44);
  --yellow-opacity-12: rgba(var(--yellow-rgb), .12);
  --black: #1a1a1a;
  --white: #fefefe;
  --grey: #bebebe;
  --dark-grey: #727272;
  --border: 1px solid;
  --border-grey: var(--border) var(--grey);
  --max-width-page: 1200px;
}

html, body, noscript, #root{
  margin: 0;
  font-family: 'Inter', sans-serif;
  height: 100%;
  font-size: 16px;
  color: var(--black);
  background-color: var(--white);
}

.text-align-center{
  text-align: center;
}

.no-margin{
  margin: 0;
}

.link{
  text-decoration: underline;
  padding: 0;
  margin: 0;
  background-color: transparent;
  font-size: 1rem;
  border: none;
  text-align: left;
  width: fit-content;
  display: inline-block;
  color: var(--black);
  cursor: pointer;
}
