@import "./shared/forms/form.css";

:root{
  --space: .3125rem;
  --double-space: calc(var(--space) * 2);
  --fourth-space: calc(var(--double-space) * 2);
  --eight-space: calc(var(--space) * 8);
  --yellow: #f1f10d;
  --red: #e80303;
  --red-bg-toast: rgba(232, 3, 3, 0.56);
  --green: #03e807;
  --green-bg-toast: rgba(3, 232, 7, 0.56);
  --yellow-rgb: 241, 241, 13;
  --yellow-opacity-44: rgba(var(--yellow-rgb), .44);
  --yellow-opacity-12: rgba(var(--yellow-rgb), .12);
  --black: #1a1a1a;
  --black-opacity-24: rgba(26, 26, 26, 0.24);
  --white: #fefefe;
  --grey: #bebebe;
  --lighter-grey: #eaeaea;
  --light-grey: #dadada;
  --dark-grey: #727272;
  --border: 1px solid;
  --big-border: 2px solid;
  --border-grey: var(--border) var(--grey);
  --max-width-page: 1200px;
  --ms-transition: 200ms;
  --ms-transition-loader: 1000ms;
}

html, body, noscript, #root{
  margin: 0;
  font-family: 'Inter', sans-serif;
  height: 100%;
  font-size: 16px;
  color: var(--black);
  background-color: var(--white);
}

*{
  box-sizing: border-box;
}

::-moz-selection{
  background: var(--yellow-opacity-44);
  color: var(--black);
}

::selection{
  background: var(--yellow-opacity-44);
  color: var(--black);
}

ul, ol{
  padding: 0;
  margin: 0;
  list-style: none;
}

.text-align-center{
  text-align: center;
}

.no-margin{
  margin: 0;
}

.link{
  text-decoration: underline;
  padding: 0;
  margin: 0;
  background-color: transparent;
  font-size: 1rem;
  border: none;
  text-align: left;
  width: fit-content;
  display: inline-block;
  color: var(--black);
  cursor: pointer;
}

.font-title-home{
  font-size: 6rem;
  color: var(--black);
  font-weight: 600;
  margin: 0 auto;
  text-shadow: 2px 4px 2px var(--black-opacity-24);
  display: inline-block;
  word-break: break-word;
}

.center-content-home{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  max-width: 800px;
  width: 100%;
  row-gap: var(--eight-space);
}

@media(max-width: 1000px){
  html, body, noscript, #root{
    font-size: 14px;
  }
}

@media(max-width: 800px){
  .font-title-home{
    font-size: 4rem;
  }
}

@media(max-width: 600px){
  .font-title-home{
    font-size: 3rem;
  }
}
