.button{
    border: none;
    text-decoration: none;
    background-color: var(--yellow);
    font-weight: 600;
    color: var(--black);
    font-size: 1.15rem;
    border-radius: var(--space);
    padding: calc(var(--space) * 3) calc(var(--space) * 5);
    width: fit-content;
    cursor: pointer;
    text-align: center;
    margin: 0;
    transition: background-color var(--ms-transition), color var(--ms-transition);
    display: block;
}

.button:hover, .button:focus{
    background-color: var(--black);
    color: var(--white);
}

.button.buttonOutline{
    border: var(--big-border) var(--yellow);
    background-color: transparent;
}

.button.buttonOutline:hover, .button.buttonOutline:focus{
    background-color: var(--yellow);
    color: var(--black);
}

.button:disabled, .button:hover:disabled, .button:focus:disabled, .button.buttonOutline:disabled, .button.buttonOutline:hover:disabled, .button.buttonOutline:focus:disabled{
    background-color: var(--dark-grey);
    border-color: var(--dark-grey);
    color: var(--white);
    cursor: not-allowed;
}
